		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
.name {text-align:left;}
#selectPolomolok{visibility: hidden;}
#boardPolomolok{visibility: hidden;}
#board{visibility: hidden;}
#selectTupi{visibility: hidden;}
#boardTupi{visibility: hidden;}
#selectTampakan{visibility: hidden;}
#boardTampakan{visibility: hidden;}
#tablePolomolok{visibility: hidden;}
#tableTupi{visibility: hidden;}
#tableTampakan{visibility: hidden;}

#selectPolomolok{display: none;}
#boardPolomolok{display: none;}
#board{display: none;}
#selectTupi{display: none;}
#boardTupi{display: none;}
#selectTampakan{display: none;}
#boardTampakan{display: none;}
#tablePolomolok{display: none;}
#tableTupi{display: none;}
#tableTampakan{display: none;}
